* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    background: url(bg-pattern-top.svg),url(bg-pattern-bottom.svg) ;
    background-repeat:no-repeat,no-repeat;
    background-position: -350px -450px,700px 450px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(8, 146, 146);
    

}



.victor img {
    border-radius: 50%;
    border: 4px solid white;
}

.top-bg {
    background-image: url(bg-pattern-card.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.5rem;
    
    
}

.victor {
   margin:-70px auto auto auto;
   
}



.font-400{
font-family: 'Kumbh Sans', sans-serif;
font-weight: 400;
}

.font-700{
font-family: 'Kumbh Sans', sans-serif;
font-weight: 700;
}

.top-bg , img {
    border-radius: 10px 10px 0 0 ;
}






.under-img span {
    color: hsl(227, 10%, 46%);
}
.under-img div {
    color: hsl(227, 10%, 46%);
}

.line {
    border-top: 1px solid hsl(227, 10%, 46%);
}

.under-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 1rem;
    width: 400px;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
    

    
    

}

.bottom-stats {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    line-height: 1.6rem;
    
}

.black {
    color: hsl(229, 23%, 23%);
    font-family: 'Kumbh Sans', sans-serif;
font-weight: 700;
font-size: 18px;
}

.gray {
    color:  hsl(229, 15%, 42%);
    font-family: 'Kumbh Sans', sans-serif;
font-weight: 400;
font-size: 18px;
}